html, body {
	font-family: Arial;
	padding: 50px;
	font-size: 32px;
}
li {
	cursor: pointer;
}
.complete {
	text-decoration: line-through;
	font-style: bold;
	color: grey;
}
input, button {
	font-size: 1rem;
}
a {
	font-size: 100%;
}
i {
	padding-right: 15px;
}
